<h1>Warships<h1>

<% @warships.each do |warship| %>

    <div class="movie-box">
      <h3><a>Tier <%= warship.tier %></a></h3>
      <%= link_to image_tag(warship.image_url), warship_path(warship.id) %>
      <h3><a><%= link_to warship.name, warship_path(warship.id) %></a></h3>
    </div>

<% end %>
